<script type='text/x-handlebars-template' id='main_structure'>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>
                    Elevator Simulator
                </h1>
            </div>
            <div class="col-lg-6">
                <h1 class="pull-right">
                    Time: 0
                </h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-2">
                <h3>
                    Floor
                </h3>
            </div>
            <div class="col-lg-2">
                <h3>
                    People
                </h3>
            </div>
            <div class="col-lg-2">
                <h3>
                    Going To
                </h3>
            </div>
            <div class="col-lg-2">
                <h3>
                    Status
                </h3>
            </div>
            <div class="col-lg-1 text-center">
                <h3>
                    A
                </h3>
            </div>
            <div class="col-lg-1 text-center">
                <h3>
                    B
                </h3>
            </div>
            <div class="col-lg-1 text-center">
                <h3>
                    C
                </h3>
            </div>
            <div class="col-lg-1 text-center">
                <h3>
                    D
                </h3>
            </div>
        </div>
        <br>
        {{#each floors}}
            <div class="row">
                <div class="col-lg-2">
                    <h4>
                        {{floor}}
                    </h4>
                </div>
                <div class="col-lg-2">
                    <input id="people_at_{{floor}}" class="form-control" value="0" type="number">
                </div>
                <div class="col-lg-2">
                    <select class="form-control" id="going_to_{{floor}}">
                        <option>Select a destination...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="col-lg-1">
                    <p>
                       ON HOLD
                    </p>
                </div>
                <div class="col-lg-1">
                    <button class="btn btn-primary">
                        CALL
                    </button>
                </div>
                <div class="col-lg-1 text-center">
                    <div id="elevator_a_floor_{{floor}}">
                        |
                    </div>
                </div>
                <div class="col-lg-1 text-center">
                    <div id="elevator_b_floor_{{floor}}">
                        |
                    </div>
                </div>
                <div class="col-lg-1 text-center">
                    <div id="elevator_c_floor_{{floor}}">
                        |
                    </div>
                </div>
                <div class="col-lg-1 text-center">
                    <div id="elevator_d_floor_{{floor}}">
                        |
                    </div>
                </div>
            </div>
        {{/each}}
        <br>
        <div class="row">
            <div class="col-lg-8">
                &nbsp;
            </div>
            <div class="col-lg-1">
                <button class="btn btn-primary" style="width: 100%;" id="history_a">
                    History
                </button>
            </div>
            <div class="col-lg-1">
                <button class="btn btn-primary" style="width: 100%;" id="history_b">
                    History
                </button>
            </div>
            <div class="col-lg-1">
                <button class="btn btn-primary" style="width: 100%;" id="history_c">
                    History
                </button>
            </div>
            <div class="col-lg-1">
                <button class="btn btn-primary" style="width: 100%;" id="history_d">
                    History
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <button class="btn btn-success" style="width: 100%;">
                    <i class="fa fa-play"></i> Start Simulation
                </button>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-warning" style="width: 100%;">
                    <i class="fa fa-pause"></i> Pause Simulation
                </button>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-danger" style="width: 100%;">
                    <i class="fa fa-close"></i> Reset Simulation
                </button>
            </div>
        </div>
    </div>
</script>

<script type='text/x-handlebars-template' id='elevator_structure'>
    <button class="btn btn-info" style="width: 100%;">
        <div class="badge">
            0 <i class="fa fa-pause-circle"></i>
        </div>
    </button>
</script>